
#body{
    background: $yellow;
    z-index: 1;
}

form{
    .contact-image{
        z-index: 2;
        top: 10vh;
        border-radius: 8%;
        margin-right: auto;
        object-fit: cover;
    }
    
    .contact-form {
        background:$white;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .pagination {
        justify-content: center;
    }
}


//formulario_proiectus 